* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 25px;
}

/* -------------------------------------------- */
/* REUSEABLE COMPONENTS */
/* -------------------------------------------- */
.row {
  max-width: 1140px; /*Only width value that will have absolute units*/
  margin: 0 auto; /*Centers the content*/
}

.hide-class {
  display: none;
}

.container-1 {
  /* display: flex; */
  border: 1px solid red;
  padding: 10px 5%;
  display: inline-block;
  width: 100%;
}

.logo {
  width: 40%;
  float: left;
}

.ham {
  height: 4px;
  width: 55%;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  margin: 30% auto; /* Centers the 3 lines */
}

.ham::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 9%;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
}

.ham::after {
  content: "";
  position: absolute;
  top: 38px;
  width: 9%;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
}

.ham-border {
  width: 18%;
  height: 40px;
  float: right;
  border-radius: 5px;
  background-color: #66b245;
}

.order-link {
  background-color: #66b245;
  color: #fff;
  font-size: 50%;
  float: right;
  margin-right: 2%;
  padding: 13px 3%;
  border-radius: 5px;
}
