@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 25px;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 65%;
  text-align: center;
  margin-bottom: 25px;
}

/* a {
  font-weight: bold;
} */

.hide-class {
  display: none;
}

/* -------------------------------------------- */
/* REUSEABLE COMPONENTS */
/* -------------------------------------------- */
.row {
  max-width: 1140px; /*Only width value that will have absolute units*/
  margin: 0 auto; /*Centers the content*/
}

.col {
  width: 100%;
}
/* Anchor elements found at the end of some sections */
.link {
  text-decoration: none;
  color: #66b245;
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 60px;
  border-radius: 25px;
  text-transform: uppercase;
  display: block;
  /* margin: 40px auto 0 auto; */
  text-align: center;
  margin-top: 40px;
  z-index: 10;
}

.heading {
  font-family: "Dancing Script", sans-serif;
  font-size: 150%;
  text-align: center;
  margin-bottom: 25px;
}

/* The green hamburger icon found on top, and in the middle, of some sections */
.section-icon {
  display: block;
  margin: 25px auto;
}

/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */
.container-1 {
  /* display: flex; */
  padding: 20px 3%;
  display: inline-block;
  width: 100%;
  background-color: #f1f2ed;
}

.logo {
  width: 150px;
  float: left;
}

/* -------------------------------------------- */
/* HAMBURGER ICON */
/* -------------------------------------------- */
/* Middle line in the ham icon */
.ham {
  height: 4px;
  width: 35px;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  margin: 17px auto; /* Centers the 3 lines */
}

.ham::before {
  content: "";
  position: absolute;
  top: 28px;
  width: 35px;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
}

.ham::after {
  content: "";
  position: absolute;
  top: 46px;
  width: 35px;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
}

.ham-border {
  width: 45px;
  height: 40px;
  float: right;
  border-radius: 5px;
  background-color: #66b245;
}
/* -------------------------------------------- */
/* END HAMBURGER ICON */
/* -------------------------------------------- */

.order-link {
  background-color: #66b245;
  color: #fff;
  font-size: 50%;
  float: right;
  margin-right: 5px;
  padding: 13px 3%;
  border-radius: 5px;
  text-decoration: none;
}

.header-pic {
  width: 100%;
  height: 50%;
}

/* -------------------------------------------- */
/* 'Our Story' SECTION */
/* -------------------------------------------- */
.section--story {
  padding: 20px 15px 50px 15px;
}

.story-p1,
.story-p2,
.story-p3 {
  /* border: 1px solid red; */
  margin-bottom: 25px;
}

.home-cart {
  /* border: 1px solid red; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* -------------------------------------------- */
/* END 'Our Story' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'ShackBurger Kits' SECTION */
/* -------------------------------------------- */
.shackburger-kit {
  padding: 20px 15px 50px 15px;
}

.shackburger-img-1 {
  width: 100%;
}

.section--kit p a {
  color: #fff;
}

/* Kit Includes: */
.section--kit strong {
  /* border: 1px solid red; */
  /* font-weight: bold; */
  font-size: 60%;
  display: block;
  width: 100%;
  text-align: center;
  color: #66b245;
  margin-bottom: 20px;
}

.kit-details p {
  margin: 0px;
}

.kit-details {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #66b245;
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 60px;
  border-radius: 25px;
  text-transform: uppercase;
  display: block;
  /* margin: 40px auto 0 auto; */
  text-align: center;
  margin-top: 40px;
}
/* -------------------------------------------- */
/* END 'ShackBurger Kits' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Order' SECTION */
/* -------------------------------------------- */
/* Part 1 of this section: Pick up */
.pick-up {
  background-color: #66b245;
  /* padding: 0; */
}

.pick-up-padding,
.delivered-padding {
  padding: 40px 15px 50px 15px;
}

.pick-up::before {
  /* outline: 1px solid red; */
  content: "";
  display: block;
  width: 100%;
  height: 75%;
  background-image: url("/Images/food-and-drink-fries.png");
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: bottom 80px left -70px;
  position: absolute;
  left: 0px;
  opacity: 0.3;
}

.fries-pic {
  width: 70px;
}

.pick-up p {
  margin-bottom: 35px;
}

.pick-up p strong {
  display: block;
}

/* Part 2 of this section: Delivered */
.hang-at-home {
  margin-bottom: 25px;
}

/* Shop locations */
.delivered > div > div > p {
  margin: 0;
}

.delivered::before {
  /* outline: 1px solid red; */
  content: "";
  display: block;
  width: 100%;
  height: 90%;
  background-image: url("/Images/food-and-drink-burger.png");
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: bottom 40px left -200px;
  position: absolute;
  left: 0px;
  opacity: 0.1;
}
/* -------------------------------------------- */
/* END 'Order' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Ethics' SECTION */
/* -------------------------------------------- */
.ethics-pic {
  width: 100%;
}

.ethics-padding {
  padding: 40px 15px 50px 15px;
}

.section--ethics p {
  margin-bottom: 30px;
}

.happy-workers-pic {
  width: 100%;
}
/* -------------------------------------------- */
/* END 'Ethics' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Vacancies' SECTION */
/* -------------------------------------------- */
.vacancies-padding {
  padding: 40px 15px 50px 15px;
}

.vacancies-psuedo::before {
  /* outline: 1px solid white; */
  content: "";
  display: block;
  width: 100%;
  height: 55%;
  background-image: url("/Images/home-envelope.png");
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: bottom 15px right 200px;
  transform: scaleX(-1);
  filter: FlipH;
  position: absolute;
  left: 0px;
  opacity: 0.2;
}
/* -------------------------------------------- */
/* END 'Vacancies' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Contact-us' SECTION */
/* -------------------------------------------- */
.lets-talk-pic {
  width: 100%;
}

.contact-us-padding {
  padding: 40px 15px 50px 15px;
}

.social-media ion-icon {
  font-size: 50px;
  margin-right: 8px;
}

.social-media {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* -------------------------------------------- */
/* END 'Contact-us' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Mailing list' SECTION */
/* -------------------------------------------- */
.section--mailing-list {
  padding: 40px 15px 50px 15px;
}

form div {
  /* outline: 1px solid white; */
  text-align: center;
}

label {
  margin-bottom: 25px;
  font-size: 60%;
}

input {
  /* display: block; */
  width: 100%;
  height: 50px;
  background-color: #000;
  border: 2px solid #fff;
  margin-top: 3px;
}

/* To do for tomorrow: Finish of adding elements to the form */
