@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 25px;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 23px;
}

p {
  font-size: 65%;
  text-align: center;
  margin-bottom: 25px;
}

.hide-class {
  display: none;
}

/* -------------------------------------------- */
/* REUSEABLE COMPONENTS */
/* -------------------------------------------- */
.row {
  max-width: 1140px; /*Only width value that will have absolute units*/
  margin: 0 auto; /*Centers the content*/
}

.col {
  width: 100%;
}

/* Anchor elements found at the bottom of some sections */
.link {
  text-decoration: none;
  color: #66b245;
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 60px;
  border-radius: 25px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 40px;
  z-index: 10;
}

/* h3 headings */
.heading {
  font-family: "Dancing Script", sans-serif;
  font-size: 150%;
  text-align: center;
  margin-bottom: 25px;
}

/* The picture found on top, and in the middle, of some sections */
.section-icon {
  display: block;
  margin: 25px auto;
}

/* -------------------------------------------- */
/* HAMBURGER ICON */
/* -------------------------------------------- */
/* Middle line in the ham icon */
.ham {
  height: 4px;
  width: 35px;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  margin: 18px auto; /* Centers the 3 lines */
}

/* Top line in the ham icon */
.ham::before {
  content: "";
  position: absolute;
  top: 30px;
  width: 35px;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
}

.ham::after {
  content: "";
  position: absolute;
  top: 46px;
  width: 35px;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
}

.ham-border {
  width: 45px;
  height: 41px;
  float: right;
  border-radius: 5px;
  background-color: #66b245;
}
/* -------------------------------------------- */
/* END HAMBURGER ICON */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */
.container-1 {
  padding: 20px 3%;
  display: inline-block;
  width: 100%;
  background-color: #f1f2ed;
}

.logo {
  width: 150px;
  float: left;
  margin-top: 3px;
}

.header-nav ul {
  text-align: center;
  font-size: 50%;
  background-color: #f1f2ed;
  margin-top: -6.6px;
  padding-bottom: 2px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #66b245;
  display: block;
  margin-bottom: 6px;
}

.order-link {
  background-color: #66b245;
  color: #fff;
  font-size: 50%;
  float: right;
  margin-right: 5px;
  padding: 9.5px 3%;
  border-radius: 5px;
  text-decoration: none;
}

.header-pic {
  width: 100%;
  height: 50%;
}
/* -------------------------------------------- */
/* END HEADER */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Our Story' SECTION */
/* -------------------------------------------- */
.section--story {
  padding: 20px 15px 50px 15px;
}

.story-p1,
.story-p2,
.story-p3 {
  /* border: 1px solid red; */
  margin-bottom: 25px;
}

.home-cart {
  /* border: 1px solid red; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* -------------------------------------------- */
/* END 'Our Story' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'ShackBurger DIY Kits' SECTION */
/* -------------------------------------------- */
.shackburger-kit {
  padding: 20px 15px 50px 15px;
}

.shackburger-img-1 {
  width: 100%;
}

.section--kit p a {
  color: #fff;
}

/* Kit Includes: */
.section--kit strong {
  /* border: 1px solid red; */
  /* font-weight: bold; */
  font-size: 60%;
  display: block;
  width: 100%;
  text-align: center;
  color: #66b245;
  margin-bottom: 20px;
}

.kit-details p {
  margin: 0px;
}

.kit-details {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #66b245;
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 60px;
  border-radius: 25px;
  text-transform: uppercase;
  display: block;
  /* margin: 40px auto 0 auto; */
  text-align: center;
  margin-top: 40px;
}
/* -------------------------------------------- */
/* END 'ShackBurger Kits' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Order' SECTION */
/* -------------------------------------------- */
/* Part 1 of this section: Pick up */
.pick-up {
  background-color: #66b245;
}

.pick-up-padding,
.delivered-padding {
  padding: 40px 15px 50px 15px;
}

.pick-up::before {
  /* outline: 1px solid red; */
  content: "";
  display: block;
  width: 100%;
  height: 75%;
  background-image: url("/Images/food-and-drink-fries.png");
  background-repeat: no-repeat;
  /* background-size: 290px; */
  background-size: 290px;
  background-position: bottom left -40px;
  position: absolute;
  left: 0px;
  opacity: 0.3;
}

.fries-pic {
  width: 70px;
}

.pick-up p {
  margin-bottom: 35px;
}

.pick-up p strong {
  display: block;
}

/* Part 2 of this section: Delivered */
.hang-at-home {
  margin-bottom: 25px;
}

/* Shop locations */
.delivered > div > div > p {
  margin: 0;
}

.delivered::before {
  /* outline: 1px solid red; */
  content: "";
  display: block;
  width: 100%;
  height: 90%;
  background-image: url("/Images/food-and-drink-burger.png");
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: bottom 40px left -200px;
  position: absolute;
  left: 0px;
  opacity: 0.1;
}
/* -------------------------------------------- */
/* END 'Order' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Ethics' SECTION */
/* -------------------------------------------- */
.ethics-pic {
  width: 100%;
}

.ethics-padding {
  padding: 40px 15px 50px 15px;
}

.section--ethics p {
  margin-bottom: 30px;
}

.happy-workers-pic {
  width: 100%;
}
/* -------------------------------------------- */
/* END 'Ethics' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Vacancies' SECTION */
/* -------------------------------------------- */
.vacancies-padding {
  padding: 40px 15px 50px 15px;
}

.vacancies-psuedo::before {
  /* outline: 1px solid white; */
  content: "";
  display: block;
  width: 100%;
  height: 55%;
  background-image: url("/Images/home-envelope.png");
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: bottom 15px right 200px;
  transform: scaleX(-1);
  filter: FlipH;
  position: absolute;
  left: 0px;
  opacity: 0.2;
}
/* -------------------------------------------- */
/* END 'Vacancies' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Contact-us' SECTION */
/* -------------------------------------------- */
.lets-talk-pic {
  width: 100%;
}

.section--contact-us p {
  margin-bottom: 40px;
}

.section-icon {
  margin-bottom: 40px;
}

.contact-us-padding {
  padding: 40px 15px 50px 15px;
}

.social-media ion-icon {
  font-size: 50px;
  margin-right: 8px;
}

.social-media {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* -------------------------------------------- */
/* END 'Contact-us' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Mailing list' SECTION */
/* -------------------------------------------- */

.section--mailing-list .heading,
.section--mailing-list p {
  padding: 0px 15px 0px 15px;
}

.section--mailing-list p {
  font-size: 14px;
}

/* The Div elements inside the <form> tag */
form div {
  text-align: center;
  padding: 0 22px;
}

label {
  margin-bottom: 25px;
  font-size: 60%;
}

input {
  width: 100%;
  height: 50px;
  background-color: #000;
  border: 2px solid #fff;
  margin-top: 3px;
}

.date-of-birth {
  display: block;
  margin-top: 20px;
  text-align: center;
}

select {
  width: 47%;
  height: 50px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  margin-top: -8px;
  margin-bottom: 20px;
  appearance: none;
  padding-left: 15px;
}

select:first-child {
  float: left;
}

select:last-child {
  float: right;
}

/*--- For the "▼" element in the 'Date of Birth' boxes ---*/
.select-wrapper {
  position: relative;
}

/* "▼" element for the month box */
.select-wrapper::before {
  content: "▼";
  font-size: 12px;
  right: 32px;
  top: 6px;
  position: absolute;
}

/* "▼" element for the day box */
.select-wrapper::after {
  content: "▼";
  font-size: 12px;
  right: 26px;
  top: 2px;
  position: relative;
}
/*--- END For the "▼" element in the 'Date of Birth' boxes ---*/

/* 'OPT-IN' */
.section--mailing-list p:nth-of-type(2) {
  font-size: 60%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

/* 'I want to recieve Shake Shack marketing...' */
.section--mailing-list p:nth-of-type(3) {
  font-size: 50%;
  margin-bottom: 0px;
}

/* 'Sign up to Shake Shack' */
.section--mailing-list p:nth-of-type(4) {
  font-size: 60%;
  margin-bottom: 7px;
}

.subscribe {
  outline: 2px solid white;
  padding: 2px 4px;
  text-decoration: none;
  color: #fff;
}
/* -------------------------------------------- */
/* END 'Mailing list' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FOOTER */
/* -------------------------------------------- */
footer {
  padding: 0px 15px 0px 15px;
}
.footer-nav ul li a {
  display: inline-block;
  font-size: 60%;
  color: #66b245;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-nav ul {
  text-align: center;
}

.footer-social-media {
  font-size: 20px;
  color: #66b245;
  text-align: center;
}

.footer-social-media ion-icon {
  margin: 10px 5px 25px 0;
}

.footer-legal {
  font-size: 50%;
  color: rgb(151, 151, 151);
}
/* -------------------------------------------- */
/* END FOOTER */
/* -------------------------------------------- */

@media only screen and (min-width: 640px) {
  .section--story {
    padding: 90px 75px;
  }

  .shackburger-kit {
    padding: 45px 75px 90px 75px;
  }

  .pick-up-padding,
  .delivered-padding {
    padding: 60px 75px 90px 75px;
  }

  .ethics-padding {
    padding: 90px 75px;
  }

  .vacancies-padding {
    padding: 60px 60px 70px 60px;
  }

  .contact-us-padding {
    padding: 60px 65px 70px 65px;
  }

  .select-wrapper::after {
    right: 35px;
  }

  input {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
}

/* Carry on woring on the input tag for the media query */
