@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 25px;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 23px;
}

p {
  font-size: 65%;
  text-align: center;
  margin-bottom: 25px;
}

.hide-class {
  display: none;
}

/* Hides the cropped images  */
.show-cropped {
  display: none;
}

/* -------------------------------------------- */
/* REUSEABLE COMPONENTS */
/* -------------------------------------------- */
.col {
  width: 100% !important;
}

/* Anchor elements found at the bottom of some sections */
.link {
  text-decoration: none;
  color: #66b245;
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 60px;
  border-radius: 25px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 40px;
  z-index: 10;
}

/* h3 headings */
.heading {
  font-family: "Dancing Script", sans-serif;
  font-size: 150%;
  text-align: center;
  margin-bottom: 25px;
}

/* The picture found on top, and in the middle, of some sections */
.section-icon {
  display: block;
  margin: 25px auto;
}

/*----- HAMBURGER AND CROSS ICON -----*/
.ham-border {
  width: 45px;
  height: 41px;
  float: right;
  border-radius: 5px;
  background-color: #66b245;
}

/* All the 5 lines for the Hamburger and Cross icons */
span {
  height: 4px;
  width: 35px;
  background-color: #fff;
  border-radius: 5px;
  display: block;
}

/* Top hamburger line */
.hamburger span:nth-child(1) {
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  transition-delay: 0.5s;
}

/* Middle hamburger line */
.hamburger span:nth-child(2) {
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  transition-delay: 0.625s;
}

/* Bottom hamburger line */
.hamburger span:nth-child(3) {
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  transition-delay: 0.75s;
}

.cross {
  position: relative;
  bottom: 32px;
}

/* The two lines for the cross */
.cross span {
  height: 4px;
  width: 0px;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  margin: 18px auto;
}

.cross span:nth-child(1) {
  transform: rotate(45deg);
  transition-delay: 0s;
}

.cross span:nth-child(2) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 22px;
  transition-delay: 0.25s;
}

/*----- Transition classes for the hamburger and cross -----*/
.hamburger span:nth-child(1).transition {
  width: 0;
  transition-delay: 0s;
}

.hamburger span:nth-child(2).transition {
  width: 0px;
  transition-delay: 0.125s;
}

.hamburger span:nth-child(3).transition {
  width: 0px;
  transition-delay: 0.25s;
}

.cross span:nth-child(1).transition {
  width: 35px;
  transition-delay: 0.625s;
}

.cross span:nth-child(2).transition {
  width: 35px;
  transition-delay: 0.375s;
}
/*----- END Transition classes for the hamburger and cross -----*/

/*----- END HAMBURGER AND CROSS ICON -----*/

/* -------------------------------------------- */
/* IMAGE SLIDER */
/* -------------------------------------------- */
/* #slider
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  overflow-x: hidden;
} */

/* Last thing I did: Changed the image conatiner to have only 2 divs. Now I need to see if I can add arrows and slideshow to this.  */

/* .wrap */
/* #slider {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .slide1 { */
/* background-image: url("/Images/header-pic.jpg"); */
/* position: absolute; */
/* } */

.slide2 {
  /* background-image: url("/Images/SS_Hero_Burger_V1-2.jpeg"); */
  /* margin-top: -395px; */
  /* position: absolute; */
}

/* .slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

#slider {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: -3px;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("/Images/header-pic.jpg");
  position: absolute;
  left: 0;
  top: 0;
  height: 50vh;
  width: 100%;
}

.slide2 {
  background-image: url("/Images/SS_Hero_Burger_V1-2.jpeg");
  position: absolute;
  left: 0;
  top: 0;
  height: 50vh;
  width: 100%;
}

/* .fadein {
  position: relative;
  width: 100%;
  height: 50vh;
}

.fadein img {
  position: absolute;
  left: 0;
  top: 0;
  height: 50vh;
  width: 100%;
} */

.arrow-left-div {
  border: 3px solid white;
  height: 60px;
  position: absolute;
  top: 31%;
  left: 5%;
  width: 60px;
  border-radius: 100px;
  cursor: pointer;
  z-index: 999;
}

/* .arrow-left-div:hover {
  border-color: #66b245;
} */

#arrow-left {
  background-color: #fff;
  height: 4px;
  width: 35px;
  position: absolute;
  top: 44%;
  left: 17%;
  cursor: pointer;
}

/* #arrow-left:hover {
  color: #66b245;
} */

#arrow-left::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  border-radius: inherit;
  transform: rotate(45deg);
  width: 17px;
  height: inherit;
  background-color: inherit;
}

.arrow-border-green {
  border-color: #66b245;
}

.arrow-green {
  background-color: #66b245;
}

#arrow-left::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 17px;
  border-radius: inherit;
  transform: rotate(-45deg);
  width: 20px;
  height: inherit;
  background-color: inherit;
}

.arrow-right-div {
  border: 3px solid white;
  height: 60px;
  position: absolute;
  top: 31%;
  right: 5%;
  width: 60px;
  border-radius: 100px;
  cursor: pointer;
}

/* .arrow-right-div:hover {
  border-color: #66b245;
} */

#arrow-right {
  background-color: #fff;
  height: 4px;
  width: 35px;
  position: absolute;
  top: 44%;
  right: 17%;
  cursor: pointer;
}

/* #arrow-right:hover {
  color: #66b245;
} */

#arrow-right::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 1px;
  border-radius: inherit;
  transform: rotate(-45deg);
  width: 17px;
  height: inherit;
  background-color: inherit;
}

#arrow-right::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 17px;
  border-radius: inherit;
  transform: rotate(45deg);
  width: 20px;
  height: inherit;
  background-color: inherit;
}

/* #arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
} */

/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */
.container-1 {
  padding: 20px 3%;
  display: inline-block;
  width: 100%;
  background-color: #f1f2ed;
  /* display: none; */
  z-index: 99;
}

.logo {
  width: 150px;
  float: left;
  margin-top: 3px;
}

.header-nav ul {
  text-align: center;
  font-size: 50%;
  background-color: #f1f2ed;
  margin-top: -6.6px;
  padding-bottom: 10px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #66b245;
  display: block;
  margin-bottom: -7px;
}

.order-link {
  background-color: #66b245;
  color: #fff;
  font-size: 50%;
  float: right;
  margin-right: 5px;
  padding: 9.5px 3%;
  border-radius: 5px;
  text-decoration: none;
}

.header-pic-1280 {
  width: 100%;
  height: 100%;
  margin-top: -2.6px;
  max-height: 550px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-menu {
  position: fixed;
  top: 80px;
  width: 100%;
}

/* This placeholder sits by the 'container-1' element. It stop the page from jumping when sticky nav is activated.  */
#header_placeholder {
  height: 90px;
  width: 100%;
  display: none;
}
/* -------------------------------------------- */
/* END HEADER */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Our Story' SECTION */
/* -------------------------------------------- */
.section--story {
  padding: 20px 15px 50px 15px;
}

.story-p1,
.story-p2,
.story-p3 {
  margin-bottom: 25px;
}

.home-cart {
  /* border: 1px solid red; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* -------------------------------------------- */
/* END 'Our Story' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'ShackBurger DIY Kits' SECTION */
/* -------------------------------------------- */
.shackburger-kit {
  padding: 20px 15px 20px 15px;
  background-color: #000;
  height: 800px;
}

.shackburger-img-1 {
  width: 100%;
}

.section--kit p a {
  color: #fff;
}

/* 'Kit Includes:' */
.section--kit strong {
  font-size: 60%;
  display: block;
  width: 100%;
  text-align: center;
  color: #66b245;
  margin-bottom: 20px;
}

.kit-details p {
  margin: 0px;
}

.kit-details {
  /* margin-bottom: 20px; */
}

.link {
  text-decoration: none;
  color: #66b245;
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 60px;
  border-radius: 25px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 40px;
}
/* -------------------------------------------- */
/* END 'ShackBurger Kits' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Order' SECTION */
/* -------------------------------------------- */
.section--order {
  /* border: 1px solid red; */
}

/* Part 1 of this section: Pick up */
.pick-up {
  background-color: #66b245;
}

.pick-up-padding,
.delivered-padding {
  padding: 40px 15px 50px 15px;
}

.pick-up::before {
  content: "";
  display: block;
  width: 100%;
  height: 75%;
  background-image: url("/Images/food-and-drink-fries.png");
  background-repeat: no-repeat;
  background-size: 290px;
  background-position: bottom left -40px;
  position: absolute;
  left: 0px;
  opacity: 0.3;
}

.fries-pic {
  width: 70px;
}

.pick-up p {
  margin-bottom: 35px;
}

.pick-up p strong {
  display: block;
}

/* Part 2 of this section: Delivered */
.hang-at-home {
  margin-bottom: 25px;
}

/* Shop locations */
.delivered > div > div > p {
  margin: 0;
}

.delivered::before {
  /* outline: 1px solid red; */
  content: "";
  display: block;
  width: 100%;
  height: 90%;
  background-image: url("/Images/food-and-drink-burger.png");
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: bottom 40px left -200px;
  position: absolute;
  left: 0px;
  opacity: 0.1;
}
/* -------------------------------------------- */
/* END 'Order' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Ethics' SECTION */
/* -------------------------------------------- */
.section--ethics {
  position: relative;
  /* width: 90vw;
  height: 90vh;
  margin: auto; */
}

.ethics-pic {
  width: 100%;
}

.ethics-padding {
  padding: 50px 15px 50px 15px;
}

.section--ethics p {
  margin-bottom: 30px;
}

.happy-workers-pic {
  width: 100%;
}
/* -------------------------------------------- */
/* END 'Ethics' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Vacancies' SECTION */
/* -------------------------------------------- */
.vacancies-padding {
  padding: 40px 15px 50px 15px;
}

.vacancies-psuedo::before {
  content: "";
  display: block;
  width: 100%;
  height: 55%;
  background-image: url("/Images/home-envelope.png");
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: bottom 15px right 200px;
  transform: scaleX(-1);
  filter: FlipH;
  position: absolute;
  left: 0px;
  opacity: 0.2;
}
/* -------------------------------------------- */
/* END 'Vacancies' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Contact-us' SECTION */
/* -------------------------------------------- */
.lets-talk-pic {
  width: 100%;
}

.section--contact-us p {
  margin-bottom: 40px;
}

.section-icon {
  margin-bottom: 40px;
}

.contact-us-padding {
  padding: 40px 15px 50px 15px;
}

.social-media ion-icon {
  font-size: 50px;
  margin-right: 8px;
}

.social-media {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* -------------------------------------------- */
/* END 'Contact-us' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* 'Mailing list' SECTION */
/* -------------------------------------------- */

.section--mailing-list .heading,
.section--mailing-list p {
  padding: 0px 15px 0px 15px;
}

.section--mailing-list p {
  font-size: 14px;
}

/* The Div elements inside the <form> tag */
.mail-padding {
  text-align: center;
  padding: 0 22px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 60%;
}

/* <label> tag for 'Date of Birth' */
.date-of-birth {
  margin-bottom: 25px;
  margin-top: 20px;
  text-align: center;
}

input {
  width: 99%;
  height: 50px;
  background-color: #000;
  border: 2px solid #fff;
  margin-top: 3px;
  color: #fff;
  font-size: 16px;
}

select {
  width: 47%;
  height: 50px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  margin-top: -8px;
  margin-bottom: 20px;
  /* appearance: none; Removes the default arrows */
  padding-left: 15px;
}

/* 'Day' dropbox */
select:first-child {
  margin-right: 4%;
}

/*---------------- For the "▼" element in the 'Date of Birth' boxes ----------------*/
/* .select-wrapper {
  position: relative;
} */

/* "▼" element for the month box */
/* .select-wrapper::before {
  content: "▼";
  font-size: 12px;
  right: 32px;
  top: 6px;
  position: absolute;
} */

/* "▼" element for the 'Day' box */
/* .select-wrapper::after {
  content: "▼";
  font-size: 12px;
  left: -28px;
  top: -60px;
  position: relative;
}  */

/*----------------  END For the "▼" element in the 'Date of Birth' boxes ---------------- */

/* 'OPT-IN' */
.section--mailing-list p:nth-of-type(2) {
  font-size: 60%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

/* 'I want to recieve Shake Shack marketing...' */
.section--mailing-list p:nth-of-type(3) {
  font-size: 50%;
  margin-bottom: 0px;
}

/* 'Sign up to Shake Shack' */
.section--mailing-list p:nth-of-type(4) {
  font-size: 60%;
  margin-bottom: 7px;
}

/* 'SUBSCRIBE' { */
.optIn-sub a {
  outline: 2px solid white;
  padding: 2px 4px;
  text-decoration: none;
  color: #fff;
}
/* -------------------------------------------- */
/* END 'Mailing list' SECTION */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FOOTER */
/* -------------------------------------------- */
footer {
  padding: 20px 15px 20px 15px;
}

hr {
  opacity: 0.25;
}

.footer-nav ul li a {
  display: inline-block;
  font-size: 60%;
  color: #66b245;
  text-decoration: none;
  margin-bottom: 8px;
  list-style-type: none;
}

.footer-nav ul li {
  list-style-type: none;
}

.footer-nav ul {
  text-align: center;
  margin-top: 20px;
}

.footer-social-media {
  font-size: 20px;
  color: #66b245;
  text-align: center;
}

.footer-social-media ion-icon {
  margin: 10px 5px 25px 0;
}

.footer-legal {
  font-size: 50%;
  color: rgb(151, 151, 151);
}
/* -------------------------------------------- */
/* END FOOTER */
/* -------------------------------------------- */

@media only screen and (min-width: 415px) {
  .show-415 {
    display: block;
  }

  /* The container for the white dots */
  .dot-container {
    width: 45px;
    height: 365px;
    left: 4%;
    background-color: rgb(22, 22, 22);
    position: fixed;
    top: 150px;
    border-radius: 100px;
    padding: 25px 0;
    z-index: 99;
    opacity: 0;
  }

  .dot-container div {
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: all 0.5s;
  }

  .dot-container p {
    margin-top: -30px;
    font-size: 50px;
  }

  .dot-container div:nth-child(1) {
    opacity: 1;
  }

  .dot-container p:nth-child(2) {
    color: #66b245;
  }

  .green {
    color: #66b245;
  }
}

@media only screen and (min-width: 640px) {
  /*----- 'Our Story' SECTION -----*/
  .section--story {
    padding: 90px 75px;
  }

  /*----- 'ShackBurger DIY Kits' SECTION -----*/
  .shackburger-kit {
    padding: 90px 75px 90px 75px;
  }

  /*----- 'Order' SECTION -----*/
  .pick-up-padding,
  .delivered-padding {
    padding: 60px 75px 90px 75px;
  }

  /*----- 'Ethics' SECTION -----*/
  .ethics-padding {
    padding: 90px 75px;
  }

  /*----- 'Vacancies' SECTION -----*/
  .vacancies-padding {
    padding: 60px 60px 70px 60px;
  }

  /*----- 'Contact-us' SECTION -----*/
  .contact-us-padding {
    padding: 60px 65px 70px 65px;
  }

  /*----- 'Mailing list' SECTION -----*/
  .section--mailing-list {
    padding: 60px 65px 15px 65px;
  }

  form {
    padding: 0 60px;
  }

  .select-wrapper::after {
    right: 35px;
  }

  /*----- FOOTER -----*/
  footer {
    padding: 0 105px;
  }
}

@media only screen and (min-width: 769px) {
  .form-group {
    display: inline-block;
    width: 47%;
    margin-bottom: 10px;
  }

  /* Styles the 'First name' <input> box */
  .form-group1 {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 800px) {
  .shackburger-img-1 {
    display: none;
  }

  /* Hides uncropped images */
  .hide-uncropped {
    display: none;
  }

  /* Displays the navigation menu  */
  .header-nav {
    display: block;
  }

  /* Shows cropped images */
  .show-cropped {
    display: block;
    width: 100%;
  }

  /*----- MENU AT THE TOP -----*/
  .order-link,
  .ham-border .logo,
  .container-1 {
    display: none;
  }

  .header-nav {
    width: 100%;
    height: 100px;
    background-color: #f1f2ed;
    position: relative;
    text-align: center;
    background-image: url("/Images/logo-shake-shack.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* This container keeps the 6 nav items from moving completely out wide in the nav menu. It can
      also be used to float the elements if needed.  */
  .nav-border {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-nav ul {
    background-color: inherit;
    padding-bottom: 0;
    display: inline-block;
    margin-top: 35px;
  }

  .header-nav ul li {
    display: inline-block;
    line-height: 12px;
  }

  /* Container for 'Menu', 'Locations', 'Order Online'  */
  .header-nav ul:first-child {
    position: relative;
    left: 55px;
    top: 0px;
    background-color: transparent;
    width: 38%;
    float: left;
  }

  .header-nav ul:first-child li {
    height: 28px;
    margin-left: 5%;
    float: left;
  }

  /* Container for 'Blog', 'Stand for Something Good', 'Contact Us'  */
  .header-nav ul:last-child {
    position: relative;
    left: 105px;
    top: -15px;
    background-color: transparent;
  }

  .header-nav ul:last-child li {
    margin-right: 10px;
    /* outline: 1px solid red; */
  }

  .nav-order {
    width: 60%;
  }

  .nav-good {
    width: 100px;
    position: relative;
    top: 10px;
  }

  .nav-contact {
    width: 99%;
  }

  .header-nav ul li a {
    text-transform: uppercase;
  }

  /*----- 'Our Story' SECTION -----*/
  .section--story {
    padding-bottom: 130px;
  }

  /*----- 'Mailing list' SECTION -----*/
  .section--mailing-list {
    padding: 60px 95px 15px 95px;
  }
}

@media only screen and (min-width: 960px) {
  .hide-cropped {
    display: none;
  }

  .shackburger-img-1 {
    display: none;
  }

  .happy-workers-pic {
    display: block;
  }

  .heading {
    line-height: 40px;
  }

  /*----- 'Our Story' SECTION -----*/
  .section--story {
    padding: 140px 200px;
  }

  .story-p1,
  .story-p2 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  /*----- 'ShackBurger DIY Kits' SECTION -----*/
  .section--kit {
    margin-top: 0px;
  }

  .shackburger-kit {
    width: 50%;
    float: right;
    margin-top: -50px;
  }

  .background-image-kit {
    width: 50%;
    height: 936.2px;
    float: left;
    background-image: url("/Images/Shackburger-kit-burger.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /*----- 'Order' SECTION -----*/
  .section--order {
    clear: both;
    /* border: 1px solid red; */
    height: 900px; /* I have set this height so that the JS code for the waypoint can read this section */
  }

  /* 'Order for pick up' box */
  .pick-up {
    width: 50%;
    float: left;
  }

  /* 'Get your fix delivered' box */
  .delivered {
    width: 50%;
    float: right;
  }

  /* 'Order for pick up' box */
  .pick-up-container {
    height: 900px;
  }

  .pick-up-padding {
    padding-top: 90px;
  }

  /*----- 'Ethics' SECTION -----*/
  .section--ethics {
    height: 100vh; /* I have set this height so that the JS code for the waypoint can read this section */
  }

  .ethics-pic {
    display: none;
  }

  .ethics-text-container {
    width: 50%;
    height: 100vh;
    float: left;
  }

  .background-image-ethics {
    width: 50%;
    height: 100vh;
    float: right;
    clear: both;
    background-image: url("/Images/shake-shack-ethics-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /*----- 'Vacancies' SECTION -----*/
  .section--vacancies {
    height: 100vh; /* I have set this height so that the JS code for the waypoint can read this section */
  }

  .happy-workers-pic {
    display: none;
  }

  .background-image-vacancies {
    width: 50%;
    height: 100vh;
    float: left;
    clear: both;
    background-image: url("/Images/happy-workers-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .vacancies-float {
    width: 50%;
    height: 100vh;
    float: right;
    padding-top: 140px;
  }

  .vacancies-psuedo::before {
    background-position: bottom left -230px;
  }

  /*----- 'Contact-us' SECTION -----*/
  .lets-talk-pic {
    display: none;
  }

  .lets-talk-text {
    width: 50%;
    height: 100vh;
    float: left;
  }

  .contact-us-padding {
    /* padding-top: 100px; */
  }

  .background-image-contact {
    width: 50%;
    height: 100vh;
    float: right;
    background-image: url("/Images/lets-talk-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section--mailing-list {
    clear: both;
  }

  /*----- 'Mailing list' SECTION -----*/
  .section--mailing-list {
    padding-right: 200px;
    padding-left: 200px;
  }

  .section--mailing-list p {
    padding-left: 80px;
    padding-right: 80px;
  }

  .mailing-list-p {
    max-width: 616px;
    margin-left: auto;
    margin-right: auto;
  }

  /* input box for 'First Name' and 'Last Name' */
  .form-group {
    max-width: 190px;
  }

  .privacy-policy {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }

  /* 'Day' dropdown box */
  select:first-child {
    margin-right: 12px;
  }

  /* input box for 'Day' and 'Month' */
  select {
    width: 186px;
  }

  /* Input box for 'E-mail' */
  form > div > input {
    width: 396px;
  }

  .form-group1 {
    margin-right: 10px;
    /* margin-left: 5px; */
    /* margin-left: -10px; */
  }

  input {
    position: relative;
  }

  /*----- FOOTER -----*/
  footer {
    padding-left: 260px;
    padding-right: 260px;
  }

  .footer-legal {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1280px) {
  /* HTML elements that have this class, will not display that particular element. */
  /* .hide-1280 {
    display: none;
  }

  .show-1280 {
    display: block;
  } */

  /* .header-pic-1280 {
    width: 100%;
    height: 100%;
  } */
}
